<h1 mat-dialog-title>Detalles de {{persona.name}}</h1>
<div mat-dialog-content>
    <div><span>Id: </span>{{persona.id_persona}}</div>
    <div><span>Usuario: </span>{{persona.usuario}}</div>
    <div><span>Appellido: </span>{{persona.surname}}</div>
    <div><span>Contraseña: </span>{{persona.password}}</div>
    <div><span>Nombre: </span>{{persona.name}}</div>
    <div><span>Email de la compañia: </span>{{persona.company_email}}</div>
    <div><span>Email personal: </span>{{persona.personal_email}}</div>
    <div><span>Ciudad: </span>{{persona.city}}</div>
    <div><span>URL de la imagen: </span>{{persona.imagen_url}}</div>
    <div><span>Fecha de creacion: </span>{{persona.created_date}}</div>
    <div><span>Activado: </span>{{persona.active}}</div>
    <div><span>Fecha de finalizacion: </span>{{persona.termination_date}}</div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>